.image-combined-container {
  position: relative;
  width: 700px;
  height: 700px;
}

.layer {
  position: absolute;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.layer.background {
  z-index: 1;
}

.layer.bed {
  z-index: 2;
  top: -60px;
  left: 0px;
  width: 1010px;
  height: 1010px;
}

.layer.glasses {
  z-index: 3;
  top: 255px;
  left: 685px;
  width: 170px;
  height: 170px;
}
.layer.light {
  z-index: 3;
  top: 320px;
  left: 220px;
  width: 90px;
  height: 90px;
}

.layer.hovered {
  transform: scale(1.05);
}

.layer.bed.hovered {
  filter: brightness(120%) contrast(110%);
}

.layer.glasses.hovered {
  filter: brightness(120%) contrast(110%);
}

.layer.light.hovered {
  filter: brightness(120%) contrast(110%);
}
